<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Details</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>{{post.User.username}}</h1>
  <p>{{post.content}}</p>
  {{#if post.imageUrl}}
  <img src="{{post.imageUrl}}" alt="Post Image">
  {{/if}}
  <h2>Comments</h2>
  <ul>
    {{#each post.Comments}}
    <li>
      <p>{{this.User.username}}: {{this.content}}</p>
    </li>
    {{/each}}
  </ul>
  <form action="/posts/{{post.id}}/comments" method="POST">
    <label for="content">Add Comment:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Add Comment</button>
  </form>
</body>
</html>
